<section class="section element-animate">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Featured Classes</h2>
              <span class="back-text">The Classes</span>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-carousel centernonloop">
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">$30.99</p>
            <h2 class="class-heading">Fitness Class Name Here</h2>
          </div>
          <img src="img/img_1_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">$30.99</p>
            <h2 class="class-heading">Fitness Class Name Here</h2>
          </div>
          <img src="img/img_2_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">$30.99</p>
            <h2 class="class-heading">Fitness Class Name Here</h2>
          </div>
          <img src="img/img_3_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">$30.99</p>
            <h2 class="class-heading">Fitness Class Name Here</h2>
          </div>
          <img src="img/img_4_square.jpg" alt="" class="img-fluid">
        </a>
      </div>
    </section>