{% extends "layout/master.html" %}

{% block content %}

    {% include "layout/carosel.html" %}
    <!-- END slider -->

    <!-- featured Classs -->
    {% include "layout/featuredClasses.html" %}
    <!-- .section -->

    <!-- Our schedule -->
    {% include "layout/schedule.html" %}
    <!-- .section -->

    <!-- Trainer -->
    {% include "layout/trainer.html" %}
    <!-- .section -->

    <!-- Testimonial -->
    {% include "layout/testimonial.html" %}
     <!-- .section -->

    <!-- Blog -->
{#    {% include "layout/blog.html" %}#}
     <!-- .section -->

{% endblock %}

{% block JS %}

{% endblock %}