{% extends "layout/master.html" %}

{% block content %}

    {% include carosel.html %}
    <!-- END slider -->

    <!-- featured Classs -->
    {% include featuredClasses.html %}
    <!-- .section -->

    <!-- Our schedule -->
    {% include schedule.html %}
    <!-- .section -->

    <!-- Trainer -->
    {% include trainer.html %}
    <!-- .section -->

    <!-- Testimonial -->
    {% include testimonial.html %}
     <!-- .section -->

    <!-- Blog -->
    {% include blog.html %}
     <!-- .section -->

{% endblock %}

{% block JS %}

{% endblock %}